<!DOCTYPE html>
<html>
  <head>
    <title>LDAP 기반 웹 애플리케이션</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <style>
      #reg input{
        margin-bottom: 5px;
      }
    </style>
  </head>
  <body>
      <%-include("../layout/header") %>
    <h1>회원 생성</h1>
    <div id="reg">
      <%
      let length = results.entryLength;
      %>
      <form action="/user/add" method="post">
        
        성 <input type="text" name="gn" placeholder="gn" style="margin-left: 38px"> <br>
        이름 <input type="text" name="sn" placeholder="sn" style="margin-left: 25px"> <br>
        대표이름 <input type="text" name="displayName" placeholder="displayName"> <br>
        부서 : <select name="ou">
            <% for(let i =0 ;i<length; i++){ %>
                <option value="<%=results.entries[i].ou%>"><%=results.entries[i].businessCategory%></option>
            <% } %>
        </select>
        <br>
        유저번호 <input type="text" name="un" placeholder="uidNumber"> <br>
        비밀번호 <input type="password" name="password" placeholder="password"> <br>
        <input type="hidden" name="userdn" value="<%-dn%>" > <br>
        <input type="submit" value="생성" class="button">
      </form>
    </div>
    <%-include("../layout/footer") %>
  </body>
</html>
