<!DOCTYPE html>
<html>
  <head>
    <title>LDAP 기반 웹 애플리케이션</title>
    <meta http-equiv="Content-Type" content="text/html;charset=UTF-8">
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link rel='stylesheet' href='/stylesheets/dtree.css' />
    <script type="text/javascript" src="javascripts/dtree.js"></script>
  </head>
  <body>
      <div class="dtree">
        
      <h1>모든 정보 가져오기</h1>
      <p><a href="javascript: d.openAll();">모두 열기</a> | <a href="javascript: d.closeAll();">모두 닫기</a></p>
        결과 : <br>
          --------------
          <br>

          <script type="text/javascript">
          function checkSpace(str) { 
            if(str.search(/\s/) != -1) { 
              return true ;
              } else { 
                return false; } 
            }

            let d = new dTree('d');
            let entryLength="<%=results.entryLength%>";

            let entries = JSON.parse('<%-entriesstr %>');
            
            entries.forEach((entry,i) => {
                let beforeDn = entry.dn;
                let afterDn = beforeDn.split(',');
                if(beforeDn == "<%-adSuffix%>"){
                    d.add(beforeDn,-1,afterDn[0],entry.routePath);
                }else{
                    if(checkSpace(entry.routePath)){
                      let str =  entry.routePath;
                      str.replace("/", "?");
                      document.write(str);
                      d.add(beforeDn,entry.parentsDn,afterDn[0],str);
                    }
                    d.add(beforeDn,entry.parentsDn,afterDn[0],entry.routePath);
                }
            });

            document.write(d);
        </script>
          
          <br>
        필터 : <%-results.filterOption %> <br>
        개수 : <%-results.entryLength %> <br>
    <a href="/">메인으로</a>
  </div>
  </body>
</html>
