<!DOCTYPE html>
<html>
  <head>
    <title>LDAP 기반 웹 애플리케이션</title>
    <meta http-equiv="Content-Type" content="text/html;charset=UTF-8">
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link rel='stylesheet' href='/stylesheets/dtree.css' />
    <script type="text/javascript" src="/javascripts/dtree.js"></script>
  </head>
  <body>
      <div class="dtree">
        
      <h1>모든 정보 가져오기</h1>

      <a href="/option/export/web">===정보 내보내기===</a><br>

      <p>
        <a href="javascript: d.openAll();">모두 열기</a> | <a href="javascript: d.closeAll();">모두 닫기</a>
      </p>

        결과 : <br> 
          --------------
          <br>
          
          <script>
              function checkSpace(str) { 
                if(str.search(/\s/) != -1) { 
                  return true ;
                  } else { 
                    return false; } 
              }
              function createNewEntry(entry) {
                  let dn = entry.dn;
                  if(dn == "<%-adSuffix%>"){
                    d.add("create","<%-adSuffix%>","생성하기","/create?dn="+dn); 
                  }
                  if(dn.split('=')[0] == "ou"  ){
                    d.add("create",dn,"생성하기","/create?dn="+dn); 
                  }
              }
          </script>
          <script type="text/javascript">
            let d = new dTree('d');
            let entryLength="<%=results.entryLength%>";
            let entries = JSON.parse('<%-entriesstr %>');
            let loadEntry = false;

            entries.forEach((entry,i) => {
                let beforeDn = entry.dn;
                let afterDn = beforeDn.split(',');
                if(beforeDn == "<%-adSuffix%>"){ // 최상위 조직일경우 부모참조는 -1
                    d.add(beforeDn,-1,afterDn[0],entry.routePath);
                } 
                d.add(beforeDn,entry.parentsDn,afterDn[0],entry.routePath);
                // createNewEntry(entry);
            });
            entries.forEach((entry,i) => {
              createNewEntry(entry);
            });
            document.write(d);
        </script>
          <br>
        필터 : <%-results.filterOption %> <br>
        개수 : <%-results.entryLength %> <br>
    <a href="/">메인으로</a>
  </div>
  
  </body>
</html>
