<!DOCTYPE html>
<html>
  <head>
    <title>LDAP 기반 웹 애플리케이션</title>
    <meta http-equiv="Content-Type" content="text/html;charset=UTF-8">
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link rel='stylesheet' href='/stylesheets/dtree.css' />
    <script type="text/javascript" src="/javascripts/dtree.js"></script>
  </head>
  <body>
    <%-include("layout/header") %>
    <div class="main">
        <div class="first_button">
          <a href="/option/export/web" style="text-align: center">
            <button class="button">정보 내보내기</button>
          </a>
        </div>
        <div class="all_button">
            <a href="javascript: d.openAll();" style="float: left; margin-right: 38px; margin-left: 22px;"><button class="button">모두 열기 </button></a> 
            <a href="javascript: d.closeAll();" style="float: left;"><button class="button">모두 닫기 </button></a>
          </div>
      <div class="main">
      <div class="dtree2">
          <script>
              let checkSpace = (str) => { 
                if(str.search(/\s/) != -1) { 
                  return true ;
                  } else { 
                    return false; } 
              }
              let createNewEntry = (entry) => {
                  let dn = entry.dn;
                  if(dn == "<%-adSuffix%>"){
                    d.add("create","<%-adSuffix%>","생성하기","/create?dn="+dn); 
                  }
                  if(dn.split('=')[0] == "ou"  ){
                    d.add("create",dn,"생성하기","/create?dn="+dn); 
                  }
              }
          </script>
          <script type="text/javascript">
            let d = new dTree('d');
            let entryLength="<%=results.entryLength%>";
            let entries = JSON.parse('<%-entriesstr %>');
            let loadEntry = false;
            entries.forEach((entry,i) => {
                let dn = entry.dn;
                let viewDn = dn.split(',');

                if(dn == "<%-adSuffix%>"){ // 최상위 조직일경우 부모참조는 -1
                    d.add(dn  ,  -1  ,  viewDn[0]  ,  entry.routePath  );
                }
                if(entry.detailObjectClass == "inetOrgPerson"){
                  d.add(dn  ,  entry.parentsDn  ,  viewDn[0]  ,  entry.routePath+"?gidNumber="+entry.gidNumber);
                }else{
                  d.add(dn  ,  entry.parentsDn  ,  viewDn[0]  ,  entry.routePath);
                }
            });
            entries.forEach((entry,i) => {
              createNewEntry(entry);
            });

            document.write(d);
        </script>
          <br>
        필터 : <%-results.filterOption %> <br>
        개수 : <%-results.entryLength %> <br>

      <a href="/"><button class="button">메인으로</button></a> <br>
  </div>
</div>
</div>
  <%-include("layout/footer") %>
  </body>
</html>
