<!DOCTYPE html>
<html>
  <head>
    <title>LDAP 기반 웹 애플리케이션</title>
    <meta http-equiv="Content-Type" content="text/html;charset=UTF-8">
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link rel='stylesheet' href='/stylesheets/dtree.css' />
    <script type="text/javascript" src="javascripts/dtree.js"></script>
  </head>
  <body>
      <div class="dtree">
      <h1>모든 정보 가져오기</h1>
        결과 : <br>
          --------------
          <br>
          
          <% results.entries.forEach((entries)=>{%>
            <% switch (entries.detailObjectClass) {
                case "person" : %>
                <a href="/user/<%=entries.cn%>">    
                        <% break;
                
                case 'posixGroup' : %>
                <a href="/group/<%=entries.cn%>">    
                        <% break;
                
                case 'organizationalUnit' : %>
                <a href="/ou/<%=entries.ou%>">      
                        <% break;

                case 'organizationalRole' : %>
                <a href="/admin/<%=entries.cn%>">       
                        <% break;
                case 'organization' : %>
                <a href="/org/<%=entries.dc%>">     
                        <% break;              
                } %>
                <%
                let beforeDn = entries.dn;
                let afterDn = beforeDn.split(',');
                %>
                <%- afterDn[0] %> <br>
              그룹 : <%- entries.detailObjectClass %> <br>
            </a>
          --------------
          <br>
          <%})%>
        
          <br>
        필터 : <%-results.filterOption %> <br>
        개수 : <%-results.entryLength %> <br>
    <a href="/">메인으로</a>
  </div>
  </body>
</html>
