<!DOCTYPE html>
<html>
    <head>
    <title>LDAP 기반 웹 애플리케이션</title>
    <meta http-equiv="Content-Type" content="text/html;charset=UTF-8">
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>

    </head>
    <body>
            <%-include("../layout/header") %>
        <h1>cn =<%-entry.cn %></h1>
        
        <div class="detail">
            <div>cn : <%-entry.cn %> </div><br>
            <div>[DN]dn : <%-entry.dn %></div><br>
            <div>giNumber : <%-entry.gidNumber %> </div><br>
            <div> objectClass : <%-entry.objectClass %> </div><br>
            <% if(entry.memberUid){ %>
            <div> memberUid : <%-entry.memberUid%></div> 
                <%}%>
        </div>
        <button onclick="deleteButton('<%-entry.cn%>')" id="deleteButton" class="button">삭제하기</button> <br>
        <script>
            let deleteButton = (cn) => {
                console.log("에이젝스 delete  " +cn);
                $.ajax({
                    url: '/group/'+cn,          
                    dataType: 'json',                
                    type: 'DELETE',
                    data : {},
                        success: (result) => {
                            if(result['result'] == true){
                                alert("성공");
                                location.href="/other/web";
                            }else{
                                alert("실패");
                            }
                        } 
                        }); 
            }
        </script>
        <a href="/">메인으로</a>
        <%-include("../layout/footer") %>
    </body>
</html>
