<!DOCTYPE html>
<html>
    <head>
    <title>LDAP 기반 웹 애플리케이션</title>
    <meta http-equiv="Content-Type" content="text/html;charset=UTF-8">
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>

    </head>
    <body>

        <h1>cn =<%-entry.cn %></h1>
        
        <div>
            cn : <%-entry.cn %> <br>
            gidNumber : <%-entry.gidNumber %> <br>
            objectClass : <%-entry.objectClass %> <br>
            <% if(entry.memberUid){ %>
                memberUid : <%-entry.memberUid %>
                <%}%>
        </div>
        <button onclick="deleteButton('<%-entry.cn%>')" id="deleteButton">삭제하기</button> <br>
        <script>
            function deleteButton(cn) {
                console.log("에이젝스 delete  " +cn);
                $.ajax({
                    url: '/group/'+cn,          
                    dataType: 'json',                
                    type: 'DELETE',
                    data : {},
                        success: function(result) {
                            if(result['result'] == true){
                                alert("성공");
                                location.href="/other/web";
                            }else{
                                alert("실패");
                            }
                        } 
                        }); 
            }
        </script>
        <a href="/">메인으로</a>
    </body>
</html>
