<!DOCTYPE html>
<html>
    <head>
    <title>LDAP 기반 웹 애플리케이션</title>
    <meta http-equiv="Content-Type" content="text/html;charset=UTF-8">
    <link rel='stylesheet' href='/stylesheets/style.css' />
    </head>
    <body>
            <%-include("../layout/header") %>
        <h1>dc = <%-entry.dc %></h1>
        
        <div class="detail">
            <div>o : <%-entry.o %></div>  <br>
            <div>objectClass : <%-entry.objectClass %> </div> <br>
        </div>
        <a href="/">메인으로</a>
        <%-include("../layout/footer") %>
    </body>
</html>
